/* Common style */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
  background-position: 0 0;
  background-repeat: no-repeat;
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.modal {
  display: none;
} 

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header style */
.main-header {
  display: flex;
  min-height: 75px;
}

.header-right-block {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.main-header-logo {
  margin-top: 9px;
  margin-bottom: -4px;
}

.main-navigation {
  min-height: inherit;
  
  line-height: 18px;
}

.site-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  min-width: 348px;
  margin: 0;
  padding: 0;
  margin-left: 24px;

  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-link > a:hover {
  display: block;
  padding: 8px 14px;
  
  color: #323232;
  text-decoration: none;

  background-color: rgb(255, 255, 255);

  border-radius: 32px;
}

.catalog-menu {
  display: block;
  position: absolute;
  top: 45px;
  left: -40px;

  min-width: 143px;
  margin: 0;
  padding: 0;

  border-radius: 5px;
}

.user-navigation {
  margin: 0px 0px 0px 10px;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.basket {
  margin-left: 10px;
}

.catalog-menu a {
  font: inherit;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.contacts {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs a {
  color: #ffffff;
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-title a {
  color: #ffffff;
  text-align: center;
}

.features {
  color: #323232;

  background-color: #eee4cc;
  background-image: url("../img/wafer_background.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.features b {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-list,
.catalog-menu,
.catalog-list {
  list-style: none;
}

.blog-news {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-mint_icecream-cone.jpg");
}

.blog-news a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscription {
  color: #323232;

  background-color: #f8f7f4;
}

.button {
  text-align: center;
  color: #ffffff;
  size: 18px;
  line-height: 24px;
}

.subscription-email {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

.socials ul,
.footer-middle ul {
  list-style: none;
  padding-left: 0px;
}

.footer-elements {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.socials {
  text-align: center;
}

.footer-elements a {
  color: #ffffff;
}

.footer-elements a:hover,
.footer-elements a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.modal {
  color: #323232;

  background-color: #f8f7f4;
}

.search-field,
.user-login,
.user-password {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

.login-password-actions a {
  color: #323232;
}

.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea:placeholder-shown {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

/* Сеточные стили */
.daily-shedule p {
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 540px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features {
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
}

.subscription {
  width: 560px;
}

.footer-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding-top: 18px;
  padding-bottom: 25px;
}

.socials ul,
.footer-middle ul,
.breadcrumbs,
.catalog-list {
  margin: 0;
  padding: 0;
}

.made-by p {
  margin: 0;
  padding: 0;
}

.socials {
  min-width: 186px;
}

.socials ul {
  display: flex;
}

.socials li {
  margin-right: 12px;
}

.socials li:last-child {
  margin-right: 0;
}

.footer-middle ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

.footer-middle li {
  width: 165px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.catalog-item {
  width: 267px;
}

.page-title {
  margin: 0;
  padding: 0;
}

.under-header-menu {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  align-items: flex-end;
}